.widget-cq-node-status {
    padding: 16px 0 0 0 !important;
    vertical-align: top !important;

    ul {
        padding-top: 6px;
    }

    ul>li {
        display: inline-block;
        width: 48%;
        padding-top: 2em;
    }

}
