<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [374, 170]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>Canvas Status Dashboard<% end %>
<div class="gridster">
  <ul>

    <!-- Logo -->
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/canvas_logo.png"></div>
    </li>

    <!-- Clock -->
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <!-- Graphite Graphs -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-width="748" data-height="340" data-view="Graphite" data-image="http://stats.its.sfu.ca/render/?bgcolor=222222&fgcolor=FFFFFF&hideGrid=false&graphOnly=false&_salt=1381276337.428&from=-24hours&target=alias(stacked(hitcount(scale(sumSeries(*.timers.canvas.production.canvas-ap*.rails.responseTime.count)%2C0.1)%2C%221h%22)),%20'Rails')&target=alias(stacked(hitcount(sumSeries(stats.canvas.production.canvas-ap*.apache.response.*)%2C%221h%22)),%20'Apache')&target=color(alias(secondYAxis(stats.gauges.canvas.production.analytics.activeUsers),'Active%20Users'),'FFFF66')&title=Apache%20%26%20Rails%20Hits%2FHour%20vs.%20Active%20Users"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
    <div data-width="748" data-height="340" data-id="canvas_app_servers_rails_response_time" data-view="CanvasAppServersRailsResponseTime" />
    </li>

    <!-- Bamboo Deploys -->
    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="bamboo_list" data-view="BambooList"></div>
    </li>

    <!-- Google Anaylitcs -->
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
        <div data-id="active_users" data-view="GAUserCount" data-title="Active Web Users"></div>
    </li>

    <!-- Github Commits Behind -->
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="github_branch_comparison" data-view="GithubNumber" data-titleupper="sfu-deploy is" data-titlelower="commits behind sfu-develop"></div>
    </li>

    <!-- Github PRs -->
    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="github_pull_requests" data-view="GithubNumber" data-titlelower="Open Pull Requests" data-moreinfo="on branch sfu-develop"></div>
    </li>

    <!-- Delayed Job Counts -->
    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="delayed_job_counts" data-view="DelayedJobCounts"></div>
    </li>

    <!-- Enrollments -->
    <li data-row="5" data-col="3" data-sizex="1" data-sizey="2" class="gs_w">
     <div data-id="enrollments" data-view="List" data-unordered="true" data-title="Enrollments" data-moreinfo="(current term)"></div>
    </li>


    <!-- App Node Statuses -->
    <li data-row="4" data-col="1" data-sizex="2" data-sizey="6">
      <div data-id="canvas_node_status" data-view="CanvasNodeStatus" style="vertical-align:top"></div>
    </li>

  </ul>
</div>
