// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #333333;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-ga-user-count {
  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .value {
    color: $value-color;
  }
}
